@tailwind base;
@tailwind components;
@tailwind utilities;

.text-40 {
    font-size: 40px;
    line-height: 42px;
}
body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}