body{
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    background-color: #3248b450;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-pomodoro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-pomodoro h1{
    font-weight: lighter;
    display: flex;
    align-items: center;
}
.container-pomodoro h1#title::after{
    content: url('./img/clock.svg');
}
div.comands{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
div.comands button{
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to top, #3248b4, #1f2f83);
    color: #fff;
    font-size: 1.2em;
    font-weight: lighter;
    cursor: pointer;
    animation: all 0.3s ease-in-out;
}
div.comands button:active{
    background: linear-gradient(to top, #1f2f83, #3248b4);
}